{% extends "main.html" %}

{% block title %}
Profile
{% endblock%}

{% block content %}
<!-- <form action="/student/{{ student.id }}/save/" method="post">{% csrf_token %} -->
<!-- {{ form.as_p }} -->
<!-- <input type="submit" value="Submit" /> -->
<!-- </form> -->

<div align="center">
  <h3>
    <span style="font-weight: normal;">
      Welcome {{ student.first_name }}!
    </span>
  </h3>

  <div id="spoiler_container">
    <a id="landing_fb_connect" class="btn btn-primary btn-large" href="#">
      Use My Facebook Profile
    </a>

    <div id="spoiler_bottom">
      or
      <div id="enter_manually_div">
        <a href="#" id="enter_info_manually">
          enter your info manually
        </a>
      </div>

      <div style="text-align: center;">
        <i class="icon-chevron-down"></i>
      </div>

    </div>

  </div> <!-- end spoiler  -->

  <div id="main_form" style="display: none;">
    <form action="/student/save/" method="post" class="form-horizontal">
      {% csrf_token %}
      <input id="id_facebook_id" type="hidden" name="facebook_id" value="{{ student.facebook_id }}" />
      <div class="control-group">
        <label class="control-label" for="inputSchool">School</label>
        <div class="controls">
          <input type="text" id="inputSchool" placeholder="Enter your school">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputMajor">Major</label>
        <div class="controls">
          <input type="text" id="inputMajor" placeholder="Enter your majors">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputPeriod">From</label>
        <div class="controls">
          <input type="text" id="datepicker_from" placeholder="Enter a starting date"/>
        </div>
        <label class="control-label to_label" for="inputPeriod">to</label>
        <div class="controls">
          <input type="text" id="datepicker_to" placeholder="Enter an ending date"/>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputKeywords">Keywords</label>
        <div class="controls">
          <input type="text" id="inputKeywords" placeholder="Enter your keywords">
        </div>
      </div>

    </form>
  </div>
</div>

<div style="float: right">
  <a id="save_button" class="btn btn-primary btn-large" href="#" style="display: none;">
    Save
  </a>
</div>
{% endblock %}
