{% extends "main.html" %}

{% block title %}
Profile
{% endblock%}

{% block content %}

<div align="center">
  <h3>
    <span style="font-weight: normal;">
      Welcome <span id="welcome">{{ student.first_name }}</span>!
    </span>
  </h3>

  <div id="spoiler_container">
    <a id="landing_fb_connect" class="btn btn-primary btn-large" href="#">
      Use My Facebook Profile
    </a>

    <div id="spoiler_bottom">
      or
      <div id="enter_manually_div">
        <a href="#" id="enter_info_manually">
          enter your info manually
        </a>
      </div>

      <div style="text-align: center;">
        <i class="icon-chevron-down"></i>
      </div>

    </div>

  </div> <!-- end spoiler  -->

  <form action="/student/save/" method="post" class="form-horizontal">
    <div id="main_form" style="display: none;">
      <fieldset>
        <legend style="text-align:left">School Information</legend>
        {% csrf_token %}
        <input id="id_facebook_id" type="hidden" name="facebook_id" value="42" />
        <input id="id_first_name" type="hidden" name="first_name" value="Johm" />
        <input id="id_sur_name" type="hidden" name="sur_name" value="Doe" />

        <img id="school_picture" src="" style="float:right; margin-right:50px; margin-bottom:10px">
        <div style="float:left">
          <div class="control-group">
            <label class="control-label" for="inputSchool">School <i class="icon-book"> </i></label>
            <div class="controls">
              <input type="text" id="inputSchool" placeholder="Enter your school">
              <input type="hidden" name="school_facebook_id" value="42">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputMajor">Majors <i class="icon-star"> </i></label>
            <div class="controls">
              <input type="text" id="inputMajor" name="majors" placeholder="Enter your majors">
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend style="text-align:left">Internships</legend>
        <div class="control-group">
          <label class="control-label" for="inputPeriod">Internship <i class="icon-calendar"> </i></label>
          <div id="internship">
            <div class="control-group">
              <div class="controls">
                <input class="datepicker" type="text" id="datepicker_from" placeholder="Enter a starting date"/>
              </div>
              <label class="control-label to_label" for="inputPeriod">to</label>
              <div class="controls">
                <input class="datepicker" type="text" id="datepicker_to" placeholder="Enter an ending date"/>
              </div>
              <div class="controls">
                 <a class="btn-small btn-link internship_plus"><i class="icon-plus-sign"></i></a>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend style="text-align:left"></legend>
        <div class="control-group">
          <label class="control-label" for="inputKeywords">Keywords <i class="icon-thumbs-up"> </i></label>
          <div class="controls">
            <input type="text" id="inputKeywords" placeholder="Enter your keywords">
          </div>
        </div>
      </fieldset>

    </div>


    <div style="float: right; display:none">
      <input type="submit" id="save_button" class="btn btn-primary btn-large" value="Save">
    </div>


  </form>
</div>

{% endblock %}
