{% block title %}{{ company.name }}{% endblock %}

{% block list_content %}
{% block sub_title %} { Here are your current internship propositions } {% endblock %}

{% block list %}
{{company.internships}}
{% endblock %}
{% block internship %} <a href='http://localhost:8000/company/{{company.facebook_id}}/internship/1/edit'> view this internship </a> {% endblock %}
{% block post_internship %} <a href='http://localhost:8000/company/{{company.facebook_id}}/internship/create'> Post an internship </a> {% endblock %}

{% endblock %}

